/* Bikes.module.css */

.container {
  gap: 20px; 
  padding-top: 50px;
  padding: 10px auto;
  justify-content: space-around;
  background-color: #f0f0f0; /* Set your desired background color */
}

.card {
  text-align: center;
  width: 40%; /* Adjust for spacing */
  box-shadow: #ddd 0px 0px 10px 0px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin: 30px auto;
  color: black;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
  
}

.card:hover{
  background-color: #ddd;
  transform: scale(1.05); /* Adjust the scale as needed */

}


.card img {
  width: 85%;
  height: 260px;
  padding-top: 20px;
  object-fit: cover; /* Ensure the image covers the entire container */
}

@media screen and (max-width: 1000px) {
  .container {
    justify-content: flex-start;
  }

  .card {
    width: calc(100% - 20px); /* Adjust for spacing */
    margin: 10px 0;
  }
}
