/* App.module.css */
.fadeIn {
    opacity: 0;
    animation: fadeInAnimation 0.6s ease-in forwards;
    background-color: rgb(222, 222, 222);
  }
  
  .hideContent {
    display: none;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  